.game-container {
  text-align: center;
  padding: 20px;
}

.game-info, .difficulty-level, .gameplay {
  margin: 20px 0;
}

/* table styling */

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: green;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}


/* Intro.css */
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.intro-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 12px;
  overflow: hidden;
}

.intro-left {
  flex: 1;
  padding: 40px;
  text-align: center;
}

.intro-right {
  flex: 1;
  padding: 40px;
}

.game-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.intro-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #8a8585;
  border-radius: 12px;
}

.form-label {
  display: block;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

.name-input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.game-rules {
  text-align: left;
  margin-bottom: 20px;
}

.game-rules p {
  margin-bottom: 5px;
}

.game-rules ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.guess-input {
  width: 300px;
  padding: 12px;
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  color: green;
  font-weight: bold;
}

.alert-container {
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.play-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
}
