@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

/* Intro.css */
body {
  background-image: url("../images/farm.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-family: "Merriweather Sans", sans-serif;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 12px;
  overflow: hidden;
}

.intro-left {
  text-align: center;
  width: 100%;
}
h1 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  font-size: 2.5rem;
}

.game-image {
  max-width: 100%;
  height: 300px;
}
.arrow {
  color: green;
  font-weight: bold;
}
.intro-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #8a8585;
  border-radius: 12px;
}

.form-label {
  display: block;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

.name-input {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  padding: 12px;

  font-size: 16px;
  border: 2px solid green;
  border-radius: 8px;
  color: green;
  font-weight: bold;
  text-align: center;
}

.game-rules {
  text-align: left;
  margin-bottom: 20px;
}

.game-rules p {
  margin-bottom: 5px;
}

.game-rules ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

/* play component */

.game-container {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  text-align: center;
  padding: 20px;
  width: 700px;
  min-height: 700px;
  margin: 0 auto;
}

.game-info,
.difficulty-level,
.gameplay {
  margin: 20px 0;
}

.confettiWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.play-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.guess-input {
  width: 300px;
  padding: 12px;
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  color: green;
  font-weight: bold;
}
.alert-container {
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.game-message{
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  white-space: pre-line;

}
.number-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.number-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.number-key {
  width: 50px;
  height: 50px;
  font-size: 30px;
}
.submit-guess-button {
  height: 50px;
}

/* table styling */

.table-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  border-radius: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
  margin: 2px;
}
th,
td {
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: green;
  color: white;
}
th:first-child {
  border-top-left-radius: 8px;
}
th:last-child {
  border-top-right-radius: 8px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
tr:hover {
  background-color: #ddd;
}
